<a href="https://colab.research.google.com/github/AhnJG/AI-Project/blob/master/Colab/Python_Triack.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Swapping Values
a, b = 5, 10
a, b = b, a

print(a, b)

10 5

In [3]:
# Reverse String
a = 'abcdefghijklmnopqrstuvwxyz'
a = a[::-1]
print(a)

zyxwvutsrqponmlkjihgfedcba

In [4]:
# Reverse Integer
num = 123456789
num = int(str(num)[::-1])
print(num)

987654321

In [5]:
# Chained Comparison
a = 7
print(5 < a < 8)
print(1 == a < 10)

True
False

In [6]:
# Chained Function call
def product(a, b):
    return a*b

def add(a, b):
    return a+b

a = True
print((product if a else add)(4, 5))

20

In [7]:
# Sort Dictionary by Value
d = {'apple': 10, 'orange': 20, 'banana': 5, 'rotten tomato': 1}
d = sorted(d.items(), key=lambda x: x[1])

print(d)

[('rotten tomato', 1), ('banana', 5), ('apple', 10), ('orange', 20)]

In [11]:
# Merge Dict
d1 = {'a': 1}
d2 = {'b': 2}

print({**d1, **d2})
print(dict(d1.items() | d2.items()))

d1.update(d2)
print(d1)

{'a': 1, 'b': 2}
{'a': 1, 'b': 2}
{'a': 1, 'b': 2}

In [10]:
d1.items()

dict_items([('a', 1)])